* {
    margin: 0px;
    padding: 0px;
    Font-Family: 'Merriweather', Serif;
    /* outline: 1px solid red; */
}

/* Universal Elements */

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.col {
    margin: 10px;
}

.card{
    display: flex;
    flex-flow: column nowrap;
    width: 400px;
    padding: 10px;
    margin: 20px;
    box-shadow: 3px 2px 2px rgb(136, 127, 127);
    border: 1px solid rgb(59, 59, 59);
}

header {
    background-color: rgb(71, 69, 69);
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

h4 {
    font-size: 14px;
    font-weight: 700;
}

/* Nav Bar */
a {
    text-decoration: none;
    color: white;
    font-weight: 300;
}

li {
    margin: 15px;
}

.nav {
    background-color: rgb(51,51,51);
    display: flex;
    padding: 0px 190px;
    height: 50px;
    align-items: center;
}

.nav-links {
    display: flex;
    flex: 1;
    align-items: center;
    list-style-type: none;
}

.nav-title{
    color: white;
    font-weight: 300;
}

.btn {
    background-color: rgb(23,162,184);
    color: white;
    box-shadow: 3px 2px 2px black;
    border: 2px solid black;
    width: 90px;
    height: 50%;
}

.active {
    font-weight: bolder;
}

/* Profile Card */
.card-profile {
    background: linear-gradient(0deg, rgba(255,255,255,1) 65%, rgba(23,162,184,1) 65%);
}

#edit {
    color: black;
    text-decoration: underline;
}

img.profile-photo {
    height: 100%;
    width: 100%;
    border: 3px solid white;
    border-radius: 50%;
}

img.map-marker {
    height: 100%;
    margin-right: 10px;
}

img.gear {
    height: 100%;
    margin-right: 10px;
}

.photo {
    height: 75px;
    width: 75px;
    margin: 20px;
    margin-bottom: 5px;
}

.location {
   display: flex;
   height: 20px;
   align-items: center;
   margin: 5px 0px;
}

.byline {
    width: 300px;
    margin: 5px 0px;
}

.edit-profile {
    display: flex;
    height: 20px;
    margin: 5px 0px;
    align-items: center;
}

.location h4 {
    font-size: 16px;
}

/* Education */
.edu {
    padding: 0px;
    width: 420px;
}

.edu-text {
    padding-left: 10px;
}

.edu-date {
    color: rgb(122, 122, 122);
    margin-bottom: 10px;
    font-size: 14px;
}

.edu-description {
    font-size: 14px;
}

/* Connections */
.connections-requests {
    display: flex;
    flex-flow: column nowrap;
    width: 300px;
    margin: 20px;
    box-shadow: 3px 2px 2px rgb(136, 127, 127);
    border: 1px solid rgb(59, 59, 59);
}

.request-row {
    display: flex;
    align-items: center;
    margin: 10px 0px;
    padding: 0px 10px;
    justify-content: space-between;
}

.request {
    display: flex;
    align-items: center;
}

.connection-row {
    display: flex;
    align-items: center;
    margin: 7px 0px;
    padding: 0px 10px;
}

.connections {
    display: flex;
    flex-flow: column nowrap;
    width: 300px;
    margin: 20px;
    box-shadow: 3px 2px 2px rgb(136, 127, 127);
    border: 1px solid rgb(59, 59, 59);
}

.view-more {
    color: blue;
    text-decoration: underline;
    border-top: 3px solid gray;
    height: 20px;
    padding: 10px;
}

.connection-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.selection-img {
    height: 30px;
    width: 30px;
}

.circle {
    width: 40px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    font-size: 0.8rem;
    background-color: rgb(161, 159, 159);
    color: black;
    margin-right: 5px;
    text-align: center;
}