* {
    margin: 0px;
    padding: 0px;
    font-family: 'Space Mono', monospace;
}

body {
    padding: 100px 400px;
}
#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    width: 300px;
    height: 400px;
}

#display {
    width: 230px;
    padding: 10px;
    margin-bottom: 15px;
    text-align: right;
    color: rgb(18, 177, 18);
    background-color: black;
}

button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 3px;
    font-size: 22px;
    background-color: rgb(87, 85, 85);
    color: rgb(18, 177, 18);
}

.operator {
    background-color: rgba(18, 177, 18, 0.89);
    color: whitesmoke;
}

#equals {
    width: 250px;
    height: 40px;
    border-radius: 20px; 
    text-align: center;
    text-justify: center;
    margin-top: 15px;
    background-color: rgb(173, 167, 167);
    color: whitesmoke;
}