* {
    margin: 0px;
    padding: 0px;
    /* outline: 1px solid red; */
}

.container {
    padding: 0px 100px;
}

.main {
    display: flex;
    justify-content: center;
}

.feed {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.user-area {
    margin: 0px 10px;
    flex: 0.5;
    display: flex;
    justify-content: center;
}

.feed-card {
    display: flex;
    width: 320px;
    height: 100px;
    margin: 10px;
    padding: 0px 10px;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid black;
}

.user-card {
    display: flex;
    width: 120px;
    height: 220px;
    margin: 10px;
    padding: 0px 10px;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid black;
}

.user-card img {
    width: 75px;
    height: 75px;
    align-self: center;
}

.user-card a{ 
    text-align: center;
}

.row1 {
    display: flex; 
    align-items: center;
}

.row1 h2 {
    flex: 3;
}

.row1 .like, button {
    margin: 5px;
}

.row2 {
    display: flex; 
    align-items: center;
    justify-content: flex-start;
}

button {
    background-color: rgb(231, 221, 81);
    color: black;
    box-shadow: 2px 2px 2px black;
    width: 20%;
}

h1 {
    text-align: center;
}

#nav {
    background-color: black;
    color: white;
    font-size: 32px;
    padding: 5px 20px;
    margin-bottom: 10px;
}