* {
    margin: 0px;
    padding: 0px;
    font-family: 'Indie Flower', cursive;
}

/* Nav Bar */
a {
    text-decoration: none;
    color: white;
    font-weight: 300;
}

li {
    margin: 15px;
}

.nav {
    background-color: #9FC5F8;
    display: flex;
    padding: 0px 190px;
    height: auto;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav-title{
    color: white;
    font-weight: 300;
}

/* Location */
.location {
    display: flex;
    padding: 10px 190px;
    height: auto;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.location label {
    margin-right: 5px;
}

/* Weather */

.container {
    display: flex;
    justify-content: center;
}

.row {
    border-top: 2px solid black;
    justify-self: center;
    width: 75%;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.card{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: space-around;
    justify-content: center;
    width: 120px;
    height: 300px;
    padding: 10px;
    margin: 20px;
    box-shadow: 3px 2px 2px rgb(136, 127, 127);
    border: 1px solid rgb(59, 59, 59);
    background-color: rgb(223, 217, 217);
}

.row img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.temperature {
    text-align: center;
}

.temperature li {
    list-style: none;
    display: inline-block;
    width: 50px;
    margin: 0px 3px;
    font-size: 1.4em;
}

.high-temp {
    font-weight: bold;
    color: red;
}

.low-temp {
    color: rgb(57, 57, 255);
}

/* Cookie Policy */
.cookie-policy {
    display: flex;
    align-items: center;
    width: 700px;
    height: 120px;
    position: fixed;
    background: rgb(223, 217, 217);
    border: 2px solid black;
    padding: 0px 10px;
    bottom: 10%;
}

.cookie-policy .txt {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    padding: 0px 10px;
}

.cookie-policy .txt a {
    color: blue;
    text-decoration: underline;
}

.cookie-policy button {
    width: 120px;
    background-color: #9FC5F8;
    box-shadow: 2px 2px 2px black;
}