/* * {
    outline: 1px solid red;
} */

body {
    background-color: rgb(223, 223, 223);
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header {
    align-self: center;
    font-size: 50px;
}
p {
    align-self: center;
}

img {
    height: 200px;
    width: 200px;
    padding: 1.2em;
}

.container {
    display: flex;
    height: 250px;
    width: 900px;
    margin: 15px;
    align-items: center;
}

.space-between {
    background-color: burlywood;
    justify-content: space-between;
    flex-direction: row;
}

.space-around {
    background-color: violet;
    justify-content: space-around;
}
.space-evenly {
    background-color: chartreuse;
    justify-content: space-evenly;
}
